.container {
	width: 100%;
}

.container:hover {
	transform: scale(1.01);
	background-color: var(--main);
	background-color: var(--background);
}

.id {
	font-size: 22px;
	font-weight: 800;
}

.name {
	font-size: 18px;
	font-weight: 700;
	text-align: center;
}

.weight {
	margin: 0px 0px;
}
