.title {
	font-size: 34px;
	font-weight: 800;
	margin-bottom: 20px;
}

.input {
	width: 200px;
	height: 40px;
	padding: 10px;
	border-radius: 8px;
	outline: none;
	border: 0px;
	margin: 10px;
	border: 2px solid var(--main);
}

.button {
	width: 200px;
	height: 40px;
	padding: 10px;
	border-radius: 8px;
	outline: none;
	border: 0px;
	margin: 10px;
	background-color: var(--main);
	border: 2px solid var(--main);
	cursor: pointer;
}

.form {
	margin: 40px 0px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.total {
	font-size: 24px;
	font-weight: 800;
	margin-bottom: 20px;
}
