:root {
	--main: #ff8ba7;
	--secondary: #faeee7;
	--tertiary: #c3f0ca;
	--background: #fffffe;
	--contrast: #212121;
	--secondaryBackground: rgb(250, 238, 231);
	--alternative: #ffc6c7;
	--alternative2: #594a4e;
	--alternative3: #33272a;
}
